[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/tensorflow"]
	path = external/tensorflow
	url = git@github.com:tensorflow/tensorflow.git
[submodule "external/json"]
	path = external/json
	url = git@github.com:nlohmann/json.git
[submodule "external/argparse"]
	path = external/argparse
	url = git@github.com:p-ranav/argparse.git
[submodule "external/onnxruntime"]
	path = external/onnxruntime
	url = git@github.com:microsoft/onnxruntime.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
